[submodule "hugo-theme-techdoc"]
	path = hugo-theme-techdoc
	url = git@github.com:thingsym/hugo-theme-techdoc.git
[submodule "themes/zdoc"]
	path = themes/zdoc
	url = https://github.com/zzossig/hugo-theme-zzo.git
